/*	---------------------------------------------------------------------------------
	PROJECT NIGHT THEME STYLES
	--------------------------------------------------------------------------------- */

/*	FONT INCLUDES
	--------------------------------------------------------------------------------- */
	@font-face {
		font-family: 'Mono Social Icons Font';
		src: url('../fonts/MonoSocialIconsFont-1.10.eot');
		src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
			url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
			url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
			url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
		src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

/*	GLOBAL STYLES
	--------------------------------------------------------------------------------- */

	/*	Inherit global box-sizing reset
		http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice */
	html {
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}

	/* html element 62.5% font-size for REM use */
	html {
		font-size:62.5%;
	}
	body {
		font: 1.6em/1.5 'Ubuntu', 'Lucida Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color:#CCCCCC;
	}

	/* clear */
	.clearfix:before,
	.clearfix:after {
	    content:' ';
	    display:table;
	}
	.clearfix:after {
	    clear:both;
	}
	p {
		margin: 0 0 1.5em;
	}
	h1,h2,h3,h4 {
		margin: 0 0 1em;
	}
	img {
		max-width:100%;
		vertical-align:bottom;
	}
	a {
		color:#999;
		text-decoration: none;
	}
	a:hover {
		color:#999;
		text-decoration: underline;
	}
	a:focus {
		outline:1px dotted rgba(255,255,255,0.75);
	}
	a:hover,
	a:active {
		outline:0;
	}
	input,
	textarea {
		background: #333333;
		color: #EEEEEE;
		border: 1px solid #000000;
	}
	input,
	.button {
		padding: 0.5em 1em;
		box-shadow: 0 0 1em rgba(0,0,0,0.5);
		display: block;
	}
	input:focus {
		outline:0;
		border:1px solid #04A4CC;
	}
	::-webkit-selection {
		background: rgba(192,200,196,0.33);
		color:#FFF;
		text-shadow:none;
	}
	::-moz-selection {
		background: rgba(192,200,196,0.33);
		color:#FFF;
		text-shadow:none;
	}
	::selection {
		background: rgba(192,200,196,0.33);
		color:#FFF;
		text-shadow:none;
	}

/*	LAYOUT STYLES
	--------------------------------------------------------------------------------- */

	body {
		background: #222222 url('../img/dust-bg.png') fixed;
	}

	/* --- Wrapper */
	.wrapper {
		max-width:960px;
		width:100%;
		margin:0 auto;
		position:relative;
	}

	/* --- Content Box Styles */

	main,
	.widget,
	footer {
		background: #000000;
		margin: 0 0 3em;
		padding: 2em 1em;
		box-shadow: 0 0 1em rgba(0,0,0,0.5);
		border-bottom: 3px solid #999999;
	}
	
	/* Header */
	.header {
		background: #000000;
		border-bottom: 3px solid #999999;
		box-shadow: 0 0 2em rgba(0,0,0,1);
		margin: 0 auto 4em;
	}

	.branding {
		position: absolute;
		top: 1em;
		left: 1em;
		z-index: 1; /* Z! - Above ".feature-image" z-index 0 */
	}

		.branding a {
			color: inherit;
			font: 36px/1 'Monaco','Lucida Console',monospace;
			text-transform: lowercase;
		}

		.branding a:hover {
			text-decoration: none;
		}

		.branding a:after {
			content: "_";
			text-decoration: blink;
		}
	
	/* Feature Image */
	.feature-image {
		position: relative;
		overflow: hidden;
		height: 0;
		padding: 25% 0 0;
	}

		.feature-image img {
			position: absolute;
			top: -20%;
		}

			.home .feature-image {
				padding-top: 50%;
			}

			.home .feature-image img {
				top: 0;
			}

		.feature-image .photo-credit {
			position: absolute;
			display: block;
			width: 100%;
			bottom: 0;
			text-align: right;
			background: rgba(0,0,0,0.5);
			padding: 0.25em 0.5em;
			font-size: 11px;
			opacity: 0.33;
			color: #999999;
			text-transform: lowercase;
			box-shadow: 0 -1em 10em 0.5em rgba(0,0,0,1);
		}

		.feature-image .photo-credit a {
			color: inherit;
		}

		.feature-image:hover .photo-credit {
			opacity: 1;
		}

	.home-feature {
		position: absolute;
		bottom: 0;
		padding: 2em 4em 3em;
		color: rgba(255,255,255,0.67);
		background: rgba(0,0,0,0.5);
		box-shadow: 0 -1em 1em rgba(0,0,0,0.5);
	}

		.home-feature p {
			text-indent: 2em;
			margin: 0 0 0.8em;
			font-size: 18px;
		}

	/* Nav */
	.nav {}

		.nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.nav li {
			display: block;
			width: 25%;
			float: left;
			margin: 0;
			padding: 0;
			text-align: center;
		}

		nav a {
			color: inherit;
			display: block;
			padding: 1em;
		}

			nav a:hover {
				text-decoration: none;
				background: #CCCCCC;
				color: #000000;
				
			}
	
	main {
		float: left;
		width: 70%;
	}

	/* Sidebar */
	.sidebar {
		float: right;
		width: 27.5%;
	}
	
	/* Footer */
	.footer {
		background: #000000;
		margin: 0;
		box-shadow: none;
		border-bottom: none;
		font-size: 0.8em;
		text-align: center;
	}

/*	WORDPRESS CORE STYLES
	--------------------------------------------------------------------------------- */

	.alignnone {
		margin:5px 20px 20px 0;
	}
	.aligncenter,
	div.aligncenter {
		display:block;
		margin:5px auto 5px auto;
	}
	.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	a img.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	a img.alignnone {
		margin:5px 20px 20px 0;
	}
	a img.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	a img.aligncenter {
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.wp-caption {
		background:#FFF;
		border:1px solid #F0F0F0;
		max-width:96%;
		padding:5px 3px 10px;
		text-align:center;
	}
	.wp-caption.alignnone {
		margin:5px 20px 20px 0;
	}
	.wp-caption.alignleft {
		margin:5px 20px 20px 0;
	}
	.wp-caption.alignright {
		margin:5px 0 20px 20px;
	}
	.wp-caption img {
		border:0 none;
		height:auto;
		margin:0;
		max-width:98.5%;
		padding:0;
		width:auto;
	}
	.wp-caption .wp-caption-text,
	.gallery-caption {
		font-size:11px;
		line-height:17px;
		margin:0;
		padding:0 4px 5px;
	}
	.sticky { }
	.bypostauthor { }
	.post-edit-link {
		clear: both;
	}

/*	HOME PAGE STYLES
	--------------------------------------------------------------------------------- */

/*	POST STYLES
	--------------------------------------------------------------------------------- */

	.post-title {
		font-size: 26px;
		padding-bottom: 0.25em;
		margin-bottom: 0.75em;
		border-bottom: 3px solid rgba(137,137,137,0.5);
	}

	a.post-thumbnail {
		display: block;
		margin-bottom: 1.25em;
		position: relative;
		text-align: center;
		background: #EEEEEE;
	}

		.post-thumbnail img {
			display: block;
			margin: 0 auto;
		}

	a.responsive.post-thumbnail {
		padding: 50% 0 0;
		height: 0;
		overflow: hidden;
	}

		.responsive.post-thumbnail img {
			position: absolute;
			padding: 2%;
			top: 0;
		}

	.post-meta {
		overflow: hidden;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 1.25em;
	}

		.post-meta .authors {
			float: left;
		}

		.post-meta .date {
			float: right;
		}


/*	PAGE STYLES
	--------------------------------------------------------------------------------- */

/*	PROJECT STYLES
	--------------------------------------------------------------------------------- */

	.post-type-archive-project main {
		width: 100%;
	}

		.post-type-archive-project article {
			float: left;
			width: 49%;
			margin-right: 2%;
			padding: 0 1%;
		}

		.post-type-archive-project article:nth-of-type(2n-1) {
			clear: both;
		}

		.post-type-archive-project article:nth-of-type(2n) {
			float: right;
			margin-right: 0;
		}

/*	EVENT STYLES
	--------------------------------------------------------------------------------- */

	.month-group {
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}

	.post-type-archive-event article {
		margin-bottom: 1em;
		overflow: hidden;
	}

	.event-title {
		clear: both;
		margin-bottom: 0.25em;
	}

	.post-type-archive-event .post-thumbnail img {
		padding: 1em;
	}

	.event-date {
		float: left;
		margin: 0 1em 1em 0;
	}

		.event-date .calendar {
			background: #EEEEEE;
			border-radius: 5px;
			width: 7.5em;
			text-align: center;
			padding: 0 0 1em;
			margin-bottom: 0.5em;
		}

		.event-date .weekday {
			display: block;
			background: #222222;
			margin-bottom: 0.5em;
			border-radius: 3px 3px 0 0;
			padding: 0.125em;
			box-shadow: 0 1px 3px -1px rgba(0,0,0,0.5);
		}

		.event-date .month, .event-date .day {
			color: #222222;
			display: block;
			line-height: 1;
		}

		.event-date .month {
			margin-bottom: 0.25em;
		}

		.event-date .day {
			font-size: 2em;
			font-weight: bold;
		}

		.event-date .time {
			display: block;
			text-align: center;
		}

	.event-details .post-edit-link {
		float: right;
	}

	.event-details .author {
		display: block;
		margin-bottom: 0.25em;
	}

/*	HACKER PROFILE STYLES
	--------------------------------------------------------------------------------- */

	.hackers-list {
		padding: 0;
		list-style: none;
	}

		.hackers-list .hacker-profile {
			float: left;
			width: 49%;
			margin-right: 2%;
			padding: 0 1%;
		}

		.hackers-list .hacker-profile:nth-of-type(2n-1) {
			clear: both;
		}

		.hackers-list .hacker-profile:nth-of-type(2n) {
			float: right;
			margin-right: 0;
		}

			.hacker-profile .avatar {
				border: 3px solid #999999;
				max-width: 95%;
				height: auto;
				margin: 0 auto 1em;
				display: block;
			}

			.hacker-profile .hacker-name {
				display: block;
				text-align: center;
			}

			.hacker-profile .hacker-links {
				list-style: none;
				display: block;
				text-align: center;
				padding: 0.25em 0;
				margin: 0 auto 1em;
			}

				.hacker-links li {
					display: inline-block;
					border-radius: 50%;
				}

				.hacker-links li:hover {
					background: #999999;
					color: #222222;
				}

			.hacker-links li a:before {
				font-family: 'Mono Social Icons Font';
				-webkit-text-rendering: optimizeLegibility;
				-moz-text-rendering: optimizeLegibility;
				text-rendering: optimizeLegibility;
				-webkit-font-smoothing: antialiased;
				-moz-font-smoothing: antialiased;
				font-smoothing: antialiased;
			}

			.hacker-links li a {
				display: block;
				height: 1em;
				width: 1em;
				font-size: 2em;
				line-height: 1;
				color: inherit;
				text-decoration: none;
			}

			.hacker-links li a:before {
				content: attr(title);
				display: block;
			}

			.hacker-links li a span {
				display: none;
			}